<header>
  <div class="header-wrapper">
    <div class="header-title">
      <a href="/">PinPic</a>
    </div>
    <div class="header-right">
      <ul class="session">
      <% if user_signed_in? && current_user.id == @user.id %>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% elsif user_signed_in? %>
        <li><%= link_to 'マイページ', user_picture_path(current_user) %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
      <% end %>
      </ul>
    </div>
  </div>
</header>
<div class="user-profile">
  <div class="profile-container">
    <% if @user.image.attached? %>
      <%= image_tag @user.image, class: "profile-image"%>
    <% else %>
      画像が設定されていません
    <% end %>
    <%= @user.nickname %>
    <% if @user.profile.present? %>
      <%= @user.profile %>
    <% else %>
      プロフィールが設定されていません
    <% end %>
    <% if user_signed_in? && current_user.id == @user.id %>
      <%= link_to '編集',edit_user_registration_path %>
    <% end %>
  </div>
</div>
<div class="user-page-wrapper">
  <div class="user-main" id="public-main">
    <% if user_signed_in? && current_user.id == @user.id %>
      <div class="sub-title">
        <h1>公開画像一覧</h1>
      </div>
    <% else %>
      <div class="sub-title2">
        <h1><%= @user.nickname %>さんの投稿画像一覧</h1>
      </div>
    <% end %>
    <div class="user-picture-container">
      <% if @public_pictures.present? %>
        <% @public_pictures.each do |public_picture| %>
          <div class="user-contents">
            <div class="picture-wrapper">
              <%= link_to image_tag(public_picture.image , width: '80%', height: '100%', alt: "画像"), picture_path(public_picture), class: "picture" %>
            </div>
            <div class="description">
              <div class="title">
                <p class="title"><%= public_picture.text.truncate(12) %></p>
              </div>
              <div class="favorite-count">
                <div class="icon">
                  <%= image_tag 'heart-icon', class: "heart-icon" %>
                  <%= public_picture.favorites.count %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="user-main" id="private-main" style="display: none;">
    <div class="my-page-user">
        <%= @user.nickname %>さんのマイページ
    </div>
    <div class="sub-title">
      <h1>非公開画像一覧</h1>
    </div>
    <div class="user-picture-container">
      <% if @private_pictures.present? %>
        <% @private_pictures.each do |private_picture| %>
          <div class="user-contents">
            <div class="picture-wrapper">
              <%= link_to image_tag(private_picture.image , width: '80%', height: '100%', alt: "画像"), picture_path(private_picture), class: "picture" %>
              <%#= image_tag 'picture-pin2.png', class: "picture-pin" %>
            </div>
            <div class="description">
              <div class="title">
                <p class="title"><%= private_picture.text.truncate(12) %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="user-main" id="favorite-main" style="display:none;">
      <div class="my-page-user">
        <%= @user.nickname %>さんのマイページ
      </div>
      <div class="sub-title">
        <h1>お気に入り一覧</h1>
      </div>
    <div class="user-picture-container">
      <% if @favorites.present? %>
        <% @favorites.each do |favorite| %>
          <div class="user-contents">
            <div class="picture-wrapper">
              <%= link_to image_tag(favorite.picture.image , width: '80%', height: '100%', alt: "画像"), picture_path(favorite.picture), class: "picture" %>
              <%#= image_tag 'picture-pin2.png', class: "picture-pin" %>
            </div>
            <div class="description">
              <div class="title">
                <p class="title"><%= favorite.picture.text.truncate(12) %></p>
              </div>
              <div class="user-name">
                <%= link_to "投稿者: #{favorite.user.nickname}", user_picture_path(favorite.user.id) %>
              </div>
              <div class="favorite-count">
                <div class="icon">
                  <%= image_tag 'heart-icon', class: "heart-icon" %>
                  <%= favorite.picture.favorites.count %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="menu-bar">
  <% if user_signed_in? && current_user.id == @user.id %>
    <input id='status-change' type="button" value="非公開画像を表示"><br>
    <input id='favorite-button' type="button" value="お気に入りを表示"><br>
  <% end %>
  </div>
</div>

